<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="icon" type="svg" href="favicon.svg" />
    <link href="../style.css" rel="stylesheet">
    <title>Eliminar Usuario</title>
</head>
<body class="body">
    <form id="eliminarusuario">
        <h1>Ingrese el id del usuario a eliminar</h1>
        <label for="id">Id:</label>
        <input type="text" id="id" name="id" required>
        <input type="submit" value="Eliminar Usuario" id="deleteButton">
    </form>
</body>
<script src="../scripts/eliminarusuario.js"></script>
</html>